*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #13305A ;
}

.container {
    padding: 50px 50px;
    width: 100%;
}

.top-Banner {
    border-bottom: 2px white solid ;
    display: flex;
    justify-content:space-around;
    align-items: center;
    column-gap:400px;
}

.top-Banner div img {
    border-color:#13305A;
    margin-top: -50px;
    width: 380PX;
}

.top-Banner form input {
    padding: 5px;
    width: 400px;
    font-size: 2rem;
    background-color: azure;
    color: black;
    border-radius: 5px;
    border: none;
}

.submit {
    width:400px;
    background-color: green;
    color: white;
    font-size: 2rem;
    padding: 5px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
}

.discription-city{
    color: white;
    font-size: 2rem;
    margin: 20px;
}

.ajax-city {
    margin: 30px 0;
}

.list {
    list-style: none;

}

.list-city{
    display: inline-block;
    margin: 25px 15px;
    padding: 20px;
    width: 400px;
    background-color: rgb(243, 240, 236);
    color: black;
    box-shadow: 10px 10px 35px rgb(218, 216, 216);
    font-size: 2.5rem;
    border: none;
    border-radius: 25px;
}

.city-name , .city-name span , .city-temp , .city-icon , .discription , .city-img  {
    margin: 20px;
    background-color: inherit;
}

